---
layout: page
title: Index
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <section>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <i class="icon-calendar"></i> <span class="date">{{ post.date | date_to_long_string}}</span>
    </p>
    <div class="content">
      {% if post.content contains "<!-- more -->" %}
        <!-- Post content untill read-more-separator -->
        {{ post.content | split:"<!-- more -->" | first % }}
      {% else %}
        <!-- First 100 words in post content if no read-more-separator is present -->
        {{ post.content |  truncatewords:100 }}
      {% endif %}
      <p><a href="{{ post.url }}">Read full post &raquo;</a></p>
    </div>
  </section>
  <hr />
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
      <a href="{{paginator.previous_page_path}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}

  <span class="page_number">{{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{paginator.next_page_path}}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>